/* css file voor recept.html */

/* test 2 */
h1 {
    font-family: sans-serif;
}

ul {
    list-style-type: none;
}

ul li {
    margin: 0;
}

qsdfqsdfqsdfqssdfqsdfqsdfqsdfq

ol ul li:first-child {
    color: cyan;
}