/* css file voor recept.html */

/* test 2 */
@font-face {
    font-family: Lobster;
    src:url(font/LobsterTwo-Regular.otf);
}

h1 {
    font-family: Lobster,sans-serif;
    background-color: orange;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    margin: 0;
}
/*css ol werkwijze*/
ol {
    list-style: none;
    background: #ffe5e5;
    display: block;
    width:20%;
    padding:0.5em 0.2em;
    text-align: center;

}
ol ul {
    margin:0;
    padding:0;

}
ol ul li{
    display:block;
    padding:0.5em;
    padding-left:0;
    margin:0.2em;
    background-color: black;
    color:white;
    text-align: center;
}

