/* css file voor recept.html */

main {
    background-color: cyan;
}

@font-face {
    font-family: Lobster;
    src:url(font/LobsterTwo-Regular.otf);
}

h1 {
    font-family: Lobster,sans-serif;
    background-color: orange;
    display: block;

    width: auto;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    margin: 0;
}
/*css ol werkwijze*/
ol {
    list-style: none;
    float: left;
    display: block;
    width:20%;
    padding:0.5em 0.2em;
    text-align: center;

    clear: both;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cb60b3+0,db36a4+100 */
    background: #cb60b3; /* Old browsers */
    background: -moz-linear-gradient(top,  #cb60b3 0%, #db36a4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #cb60b3 0%,#db36a4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #cb60b3 0%,#db36a4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#db36a4',GradientType=0 ); /* IE6-9 */


}
ol ul {
    margin:0;
    padding:0;

}
ol ul li{
    display:block;
    padding:0.5em;
    padding-left:0;
    margin:0.2em;
    background-color: aqua;
    text-align: center;
}

/* css ol ingredienten */

#ingredienten {
    color: white;
    font-size: 2em;
    font-family: Lobster;
}

#ingredienten ul {
    color: white;
    font-family: Verdana;

}

#ingredienten ul li {


    font-size: 0.8em;
    width: auto;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#63b6db+0,309dcf+100;Blue+3D+%234 */
    background: #63b6db; /* Old browsers */
    background: -moz-linear-gradient(top,  #63b6db 0%, #309dcf 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #63b6db 0%,#309dcf 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #63b6db 0%,#309dcf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63b6db', endColorstr='#309dcf',GradientType=0 ); /* IE6-9 */


    -webkit-transition: background 2s;
    transition: 2s;
}

#ingredienten ul li:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#63b6db+0,287da8+100 */
    background: #63b6db; /* Old browsers */
    background: -moz-linear-gradient(top, #63b6db 0%, #287da8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #63b6db 0%,#287da8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #63b6db 0%,#287da8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63b6db', endColorstr='#287da8',GradientType=0 ); /* IE6-9 */
}

/** clearfix **/

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

footer {
    float: left;
    clear: left;
}

